<h1>INDEX</h1>
<p>
  These are your fellow fans: <br/>
  <ul>
    <% (0...@fans.length).each do |i| %>
    <li><%= @fans[i] %></li>
    <% end %>
  </ul>
  <p>Find me in app/views/public/home.html.erb</p>

</p>
